---
import Container from '@components/Container';
import { socialNetworks } from '@data/social-networks';
import {
  footerGrid,
  footerStyle,
  footerTitleStyle,
  socialNetworksStyle,
} from './Footer.styles';
---

<footer class={footerStyle}>
  <Container>
    <div class={footerGrid}>
      <div class={footerTitleStyle}>
        <span>vinicius</span>
        <strong>costa</strong>
      </div>

      <ul class={socialNetworksStyle}>
        {
          socialNetworks.map(({ url, label, logo: Logo }) => (
            <li>
              <a href={url} title={`My ${label} profile`}>
                <Logo />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</footer>
